<script>
function copyToClipboard(text) {
  const elem = document.createElement('textarea');
  elem.value = text;
  document.body.appendChild(elem);
  elem.select();
  document.execCommand('copy');
  document.body.removeChild(elem);
  toastr.success(text+' copied to clipboard!', '', { closeButton: true, progressBar: true })
}
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <% if @company.own==true %>
        <div class="header bg-own">
          <%else%>
            <div class='<%="header bg-c#{@company.status.to_i}"%>'>
              <%end%>
                                <strong>[<%= @company.id %>]</strong>
                                <strong>
                                  <%= @company.name %>
                                </strong>   
                                
                                <%= link_to '<span class="text_align_r far fa-edit fa-lg"></span>'.html_safe, edit_company_path(@company), title: "Edit", data: { no_turbolink: true },:remote=> true , "data-toggle" => "modal", "data-target" => "#modal-window" %>
                                
                              </div>
                            
                            <div class="body">
                              <% unless @main_adress.nil? %>
                                <table class="table table-striped top-0" style="margin-bottom: 0;">
                                  <tbody>
                                    <tr>
                                      <td class=" title">Name: </td>
                                      <td>
                                        <%=@main_adress.name %>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class=" title">Street / number : </td>
                                      <td>
                                        <%="#{@main_adress.street}/#{@main_adress.number}"%>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class=" title">City : </td>
                                      <td>
                                        <%="#{@main_adress.postcode} #{@main_adress.city}"%>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class=" title">Count : </td>
                                      <td>
                                        <%="#{@main_adress.country}"%>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class=" title">Region : </td>
                                      <td>
                                        <%="#{@main_adress.region}"%>
                                      </td>
                                    </tr>
                                    <% params[:features].each do |key,value| %>
                                    <tr>
                                      <td class=" title"><%=key.to_s.capitalize%>:</td>
                                      <td>
                                        <%="#{value.to_s}"%>
                                      </td>
                                    </tr>
                                    <%end%>

                                  </tbody>
                                </table>
                                <%end%>
                                <div>
                                  <p>Note:</p>
                                  <p><%=@company.note%> </p>
                                </div>
                            </div>
                            <div class="footer">
                             
                            </div>
                        </div>
                        <div class="card">
                          <div class="header">
                            <strong>Task and plans:</strong>
                          </div>
                          <div class="body">
                            <div data-turbolinks="false">
                              <table class="table table-responsive" id="table-regular" data-toggle="table" data-url="<%=" #{plans_url(company: @company.id)}"%>"
                                data-pagination="true"
                                data-page-size="100"
                                data-page-list="[10,20,50,100,200]"
                                data-search="true"
                                data-show-jump-to="true"
                                data-single-select="true"
                                data-side-pagination="client"
                                data-select-item-name="id[]"
                                data-click-to-select="true"
                                data-id-field="id"
                                >
                                <thead>
                                  <tr>
                                    <th data-field="id" data-switchable="false" data-visible="false">ID</th>
                                    <th data-field="event_date">Date</th>
                                    <th data-field="event_type_s">Type</th>
                                    <th data-field="event_name">Task</th>
                                    <th data-field="event_description">Description</th>
                                    <th data-field="actions">Actions</th>
                                    
                                  </tr>
                                </thead>
                              </table>
                            </div>
                          </div>
                          <div class="footer">                            
                            <%= link_to '<span style="background-color: #AF002A" class="plus fas fa-lg fa-plus modal-button"></span>'.html_safe,
                            "#{plans_url}/new_for_company/#{@company.id}",title: "New task",
                              data: { no_turbolink: true,:remote=> true , "data-toggle" => "modal", "data-target" => "#modal-window" } %>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                      <div class="card">
                        <div class="header">
                          <strong>Contacts:</strong>
                        </div>
                        <div class="body">
                          <div data-turbolinks="false">
                            <table class="table table-responsive" id="table-regular" data-toggle="table" data-url="<%="
                              #{company_contacts_path(company_id: @company.id)}"%>"
                              data-pagination="true"
                              data-page-size="100"
                              data-page-list="[10,20,50,100,200]"
                              data-search="true"
                              data-show-jump-to="true"
                              data-single-select="true"
                              data-side-pagination="client"
                              data-select-item-name="id[]"
                              data-click-to-select="true"
                              data-id-field="id"
                              >
                              <thead>
                                <tr>                                  
                                  <th data-field="id" data-switchable="false" data-visible="false">ID</th>
                                  <th data-field="name_lastname">Name</th>  
                                  <th data-field="jobposition">Job position</th>                                
                                  <th data-field="email">E-mail</th>
                                  <th data-field="phone">Phone</th>
                                  <th data-field="actions">Actions</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        <div class="footer">
                          <%= link_to '<span style="background-color: #AF002A" class="plus fas fa-lg fa-plus modal-button"></span>'.html_safe,
                            new_company_contact_path(company_id: @company.id), title: "New Contact" , data: {
                            no_turbolink: true,:remote=> true , "data-toggle" => "modal", "data-target" =>
                            "#modal-window"} %>
                        </div>
                      </div>
                      <div class="card">
                        <div class="header">
                          <strong>Addresses:</strong>
                        </div>
                        <div class="body">
                          <div data-turbolinks="false">
                            <table class="table table-responsive" id="table-regular" data-toggle="table" data-url="<%="
                              #{company_addresses_path(company_id: @company.id)}"%>"
                              data-pagination="true"
                              data-page-size="100"
                              data-page-list="[10,20,50,100,200]"
                              data-search="true"
                              data-show-jump-to="true"
                              data-single-select="true"
                              data-side-pagination="client"
                              data-select-item-name="id[]"
                              data-click-to-select="true"
                              data-id-field="id"
                              >
                              <thead>
                                <tr>                                  
                                  <th data-field="id" data-switchable="false" data-visible="false">ID</th>
                                  <th data-field="name">Name</th>
                                  <th data-field="street">Street</th>
                                  <th data-field="number">number</th>
                                  <th data-field="city">City</th>
                                  <th data-field="postcode">Postcode</th>
                                  <th data-field="country">Country</th>
                                  <th data-field="region">Region</th>
                                  <th data-field="main">Main</th>
                                  <th data-field="actions">Actions</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        <div class="footer">
                          <%= link_to '<span style="background-color: #AF002A" class="plus fas fa-lg fa-plus modal-button"></span>'.html_safe,
                            new_company_address_path(company_id: @company.id), title: "New Address" , data: {
                            no_turbolink: true,:remote=> true , "data-toggle" => "modal", "data-target" =>
                            "#modal-window" } %>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
              </div>
            </div>