<!DOCTYPE html>
<html>

<head>
  <title>Crmm</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': false  %>
<%= stylesheet_link_tag 'my', media: 'all', 'data-turbolinks-track': false  %>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': false  %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'main' , 'data-turbolinks'=> false, defer: false %>
</head>

<body>
   
  <div class="container-fluid">
    <%if user_signed_in? %>    
    <div class="row flex-nowrap">
      <div class="col-auto px-0">
        <%= toastr_flash %>
        <div id="sidebar" class="collapse collapse-horizontal show border-end">
            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
              <div class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"></div>               
              <a href="<%=root_path%>" class="list-group-item border-end-0 d-inline-block text-truncate" data-turbolinks=false data-bs-parent="#sidebar"><i class="fas fa-lg fa-clipboard"></i> <span>Calendar</span></a>
              <a href="<%=companies_path%>" class="list-group-item border-end-0 d-inline-block text-truncate" data-turbolinks=false data-bs-parent="#sidebar"><i class="fas fa-lg fa-address-book"></i> <span id="c_company">Companies</span> </a>              
              <a href="<%=all_contacts_path%>" class="list-group-item border-end-0 d-inline-block text-truncate" data-turbolinks=false data-bs-parent="#sidebar"><i class="fas fa-user-friends fa-lg"></i> <span>Contacts</span></a>              
              <a href="<%=all_addresses_path%>" class="list-group-item border-end-0 d-inline-block text-truncate" data-turbolinks=false data-bs-parent="#sidebar" ><i class="fas fa-building fa-lg"></i> <span>Addresses</span></a>              
              <% if LocalRigths.validate(Current.user.rights, 'User', 'Admin') %>
              <a href="<%=users_path%>" class="list-group-item border-end-0 d-inline-block text-truncate" data-turbolinks=false data-bs-parent="#sidebar" ><i class="fas fa-user-tie fa-lg"></i> <span>Users</span></a> 
              <%end%>
              <div class="list-group-item border-end-0 d-inline-block text-truncate">
                <span class="user_name company_note">User     </span>
                <p class="user_name dt-user-avatar" style="background-color:<%=ColorX.with_google("#{Current.user.lastname}#{Current.user.name}")%>"><%="#{Current.user.name[0].capitalize}#{Current.user.lastname[0].capitalize}"%></p>                
                <div class="user_logout"><%= link_to '<span class="fas fa-lg fa-door-closed company_note"></span>'.html_safe , destroy_user_session_path, method: :delete,title: "Logout" %>
                  </div>
              </div>
              
            </div>
        </div>
        
    </div>
    <%end%>
       <main class="col ps-md-2 pt-2">
        
          <%= yield %>
        
      </main>
    </div>

</div>

 
 </body>

</html>